/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import 'variables.scss';

@include angular-material-theme($theme);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

mat-form-field,
.mat-raised-button.mat-primary,
.mat-raised-button.mat-accent,
.mat-raised-button.mat-warn {
  margin-right: 12px;
}
